*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Global css */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
}

/* custom css styles */
.navbar{
    padding: 20px 0px;

    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img.logo{
            max-width: 150px;
        }

        & ul.menu{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            & li a{
                font-size: 18px;
                font-weight: 500;
                color: #000;
                transition: .3s;
            }

            & li a:hover{
                color: red;
            }
        }

        & .login{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            & div{
                display: flex;
                gap: 15px;

                & .normal_btn{
                    background: #F1F1F1;
                    color: #000;
                    padding: 10px 25px;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                    font-weight: bold;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                }

                & .normal_btn:hover{
                    background: #000;
                    color: #F1F1F1;
                }

                & .btn_dark{
                    background: #000;
                    color: #F1F1F1;
                    padding: 10px 25px;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                    font-weight: bold;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                }

                & .btn_dark:hover{
                    background: #F1F1F1;
                    color: #000;
                }
            }
        }
    }
}

/* hero area css */
.hero_area{
    background-image: url(images/Rectangle\ 1.png);
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 175px 0px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .form_container{
        max-width: 1160px;
        padding: 20px 40px;
        padding-bottom: 40px;
        background: #fff;
        border-radius: 10px;
        text-align: center;

        & h2{
            font-size: 45px;
            color: #000000;
            margin-bottom: 40px;
        }

        .currency{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            margin-bottom: 20px;

            & select{
                background: #F1F1F1;
                color: #000;
                outline: none;
                border: none;
                padding: 10px 10px;
                border-radius: 6px;
                width: 220px;
            }
        }

        .offer_btn_area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;

            & .much_input{
                flex: 1;
                background: #F1F1F1;
                color: #000;
                outline: none;
                border: none;
                padding: 10px 10px;
                border-radius: 6px;
                width: 220px;
            }

            & .much_input::placeholder{
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                color: #000;
            }

            & .offer_btn{
                background: #00EBC7;
                color: #000;
                padding: 10px 35px;
                border: none;
                outline: none;
                border-radius: 50px;
                font-weight: bold;
                transition: .3s ease-in-out;
                cursor: pointer;
            }

            & .offer_btn:hover{
                background: #000;
                color: #F1F1F1;
            }
        }
    }

    .why_btn{
        position: relative;
        margin-top: 75px;
        background: transparent;
        color: #F1F1F1;
        text-decoration: underline;
        padding: 10px 25px;
        border: 1px solid #F1F1F1;
        outline: none;
        border-radius: 50px;
        font-weight: bold;
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    .why_btn:hover{
        background: transparent;
        color: #FDE24F;
        border: 1px solid #FDE24F;
    }
}

/* buy/sell css */
.buy_sell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FDE24F;
    padding: 60px 0;
    gap: 40px;

    & h2{
        font-size: 34px;
    }

    & div img{
        object-fit: cover;
        width: 100%;
    }
}

/* features css */
.features{
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 2px solid grey;

    & h2{
        font-size: 34px;
        margin-bottom: 60px;
        text-align: left;
    }

    .features_box{
        display: flex;
        justify-content: space-around;
        align-items: center;

        & img{
            width: 60px;
            margin-bottom: 10px;
        }

        .horizontal_line{
            width: 120px;
            height: 1px;
            background: #000;
            margin-top: -25px;
        }

        .features_content{
            & h3{
                font-size: 24px;
                margin-bottom: 16px;
            }

            & p{
                color: #535353;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 30px;
            }

            & span{
                color: #000;
                /* font-size: 16px; */
                text-decoration: underline;
                font-weight: 400;
                margin-bottom: 30px;
            }
        }
    }
}


@media only screen and (max-width: 767.98px) {
    .navbar{
        display: none;
    }

    .hero_area{
        padding: 40px 16px;
    
        & .form_container{
            max-width: 100%;
    
            & h2{
                font-size: 25px;
                margin-bottom: 20px;
            }
    
            .currency{
                flex-direction: column;
                gap: 16px;
                margin-bottom: 16px;
    
                & select{
                    width: 100%;
                }
            }

            .offer_btn_area{
                flex-direction: column;
                gap: 20px;
            }
        }

        .why_btn{
            margin-top: 40px;
        }
    }

    .buy_sell{
        padding: 50px 10px 70px 10px;
        gap: 20px;
    
        & h2{
            font-size: 20px;
        }
    }

    .features{
        padding-left: 16px;
        padding-right: 16px;

        & h2{
            font-size: 20px;
            text-align: center;
        }
    
        .features_box{
            flex-direction: column;
            gap: 16px;
    
            .horizontal_line{
                display: none;
            }

            .features_box_control{
                background-color: #F1F1F1;
                padding: 40px 15px;
                border-radius: 10px;
            }
    
            .features_content{
                & h3{
                    font-size: 24px;
                    margin-bottom: 16px;
                }
    
                & p{
                    color: #535353;
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
    
                & span{
                    color: #000;
                    /* font-size: 16px; */
                    text-decoration: underline;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
            }
        }
    }
}